@import url("https://fonts.googleapis.com/css2? family= Kanit:ital,wght@1,500 & display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

.titulo {
  background-color: rgb(248, 249, 250);
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}

.nosotros p {
  display: flex;
  text-align: center;
  padding: 1.5rem;
}

/****GRID*****/
.main {
  margin: 2rem;
  padding: 1rem;
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "caja1 caja2 caja3";
}

.contenedor > div {
  display: flex;
  justify-content: center;
}

.mitad {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.subtitulo {
  padding: 2rem;
}

/****GRID*****/

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.redes {
  background-color: black;
  padding: 1.5rem;
}

@media screen and (max-width: 480px) {
  .contenedor {
    display: block;
    text-align: center;
  }

  .contenedor img {
    padding: 1rem;
  }
}

@media screen and (max-width: 480px) {
    .mitad {
      display: block;
      text-align: center;
      align-items: center;
    }
  }
