* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

.mitad1 {
  background-color: rgb(248, 249, 250);
}
.mitad1 .subtitulo {
  background-color: rgb(248, 249, 250);
  color: black;
  padding: 1.5rem;
  text-align: center;
  font-size: 20px;
}
.mitad1 .Secciones {
  background-color: rgb(248, 249, 250);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
}
@media screen and (max-width: 480px) {
  .mitad1 .Secciones {
    flex-direction: column;
  }
}
@media screen and (max-width: 900px) {
  .mitad1 .Secciones {
    flex-direction: column;
  }
}
.mitad1 .Secciones img {
  transition: transform 0.3s ease-in-out;
}
.mitad1 .Secciones img:hover {
  transform: translateY(3px);
}
.mitad1 .Secciones p {
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.mitad1 .container {
  background-color: rgb(248, 249, 250);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
}
.mitad1 .container p {
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
}

.redes {
  background-color: rgb(248, 249, 250);
  padding: 1.5rem;
}
.redes .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}
.redes .container img {
  transition: transform 0.3s ease-in-out;
}
.redes .container img:hover {
  transform: scale(1.1);
}

.subtitulo3 {
  display: flex;
  background-color: rgb(248, 249, 250);
  justify-content: center;
  padding: 1.5rem;
}

.fase1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}
@media screen and (max-width: 480px) {
  .fase1 {
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 900px) {
  .fase1 {
    flex-direction: column;
    text-align: center;
  }
}
.fase1 p {
  text-align: center;
}
.fase1 img {
  transition: transform 0.3s ease-in-out;
}
.fase1 img:hover {
  transform: translateY(3px);
}

.fase2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}
.fase2 p {
  text-align: center;
}
.fase2 img {
  transition: transform 0.3s ease-in-out;
}
.fase2 img:hover {
  transform: translateY(3px);
}
@media screen and (max-width: 480px) {
  .fase2 {
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 900px) {
  .fase2 {
    flex-direction: column;
    text-align: center;
  }
}

.redes1 {
  background-color: rgb(248, 249, 250);
}
.redes1 .container {
  background-color: rgb(248, 249, 250);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
}
.redes1 .container img {
  transition: transform 0.3s ease-in-out;
}
.redes1 .container img:hover {
  transform: scale(1.1);
}
.redes1 .Copyright {
  text-align: center;
  font-size: 20px;
}

.titulo {
  background-color: rgb(248, 249, 250);
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}

.main {
  margin: 2rem;
  padding: 1rem;
}
.main p {
  display: flex;
  text-align: center;
  padding: 1.5rem;
}
.main .contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "caja1 caja2 caja3";
}
@media screen and (max-width: 480px) {
  .main .contenedor {
    display: block;
    padding: 1rem;
  }
  .main .contenedor img {
    padding: 1rem;
  }
}
@media screen and (max-width: 900px) {
  .main .contenedor {
    display: block;
    padding: 1rem;
  }
  .main .contenedor img {
    padding: 1rem;
  }
}
.main .contenedor div {
  display: flex;
  justify-content: center;
}
.main .mitad2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
@media screen and (max-width: 480px) {
  .main .mitad2 {
    display: block;
    text-align: center;
    align-items: center;
  }
}
@media screen and (max-width: 900px) {
  .main .mitad2 {
    display: block;
    text-align: center;
    align-items: center;
  }
}
.main .subtitulo {
  padding: 2rem;
}

.redes {
  background-color: rgb(248, 249, 250);
  padding: 1.5rem;
}
.redes .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}
.redes .container img {
  transition: transform 0.3s ease-in-out;
}
.redes .container img:hover {
  transform: scale(1.1);
}
.redes .container p {
  text-align: center;
}/*# sourceMappingURL=main.css.map */