 .redes{
  background:  rgb(248, 249, 250);
  

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      padding: 1.5rem;
  
      img{
        transition: transform 0.3s ease-in-out;
      }
  
      img:hover{
        transform: scale(1.1);
      }
    }
  
    .Copyright{
      text-align: center;
      font-size: 20px;
    }
  }