.redes3 {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,64,1) 35%, rgba(0,212,255,1) 100%);
    padding: 1.5rem;
  
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      padding: 1rem;
  
      img{
        transition: transform 0.3s ease-in-out;
      }
  
      img:hover{
        transform: scale(1.1);
      }

      h6{
        color: white;
        font-size: 25px;
      }
    
      p {
        color: white;
      }
    }
  }